.Limelight {
  // margin-top: 70px; //should be revisted. not the ideal way as well as gap is probably wrong
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  margin-bottom: 50px;
  width: 100vw;
  max-width: 1920px;
  @media screen and (max-width: 1080px) {
    height: 450px;
    margin-top: 35px;
  }

  abbr{
    text-decoration: none;
  }
}

.Limelight_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 440px;
  width: 100%;
  max-width: 80vw;
  gap: 50px;
  @media screen and (max-width: 1080px) {
    height: 90%;
    margin-top: 0;
    max-width: 100%;
  }

  .Limelight_title {
    width: 100%;
    position: relative;
    color: #3c4242;
    font-size: 2rem;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0.78px;
    padding: 0 30px;
    @media screen and (max-width: 540px) {
      font-size: 22px;
    }
    @media screen and (max-width: 1080px) {
      font-size: 22px;
    }
  }

  .Limelight_title::before {
    content: "";
    width: 6px;
    border-radius: 10px;
    height: 30px;
    top: 10%;
    left: 0;
    right: 100%;
    background-color: #8a33fd;
    position: absolute;
  }
  .Limelight_grid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1080px) {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
    }
  }
  .Limelight_grid_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 21%;
    margin: 0 1%;
    gap: 1rem;
    height: 100%;
    @media screen and (max-width: 1080px) {
      margin: 0 1%;
      flex-basis: 0;
      flex-grow: 0;
      height: 100%;
    }

    .grid_image {
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
      border-radius: 9px;
      background-size: 230px 300px;
      //images to be cropped for proper background
      background-repeat: no-repeat;
      // background-position: top -1px right -1px;
      width: 230px;
      height: 300px;
      cursor: pointer;
      @media screen and (max-width: 1080px) {
        background-size: 191px 250px;
        width: 191px;
        height: 250px;
      }
    }
    .grid_item_title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70%;
      
      .grid_item_title_name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: 70%;
        // height: 1rem;
        color: #3c4242;
        font-size: 1rem;
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 700;
        
      }
      .grid_item_title_brand {
        color: #807d7e;
        font-size: 0.8rem;
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    .grid_image_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      // line-height: 40px;
      .grid_item_pricing {
        background-color: #f6f6f6;
        width: 4.5rem;
        height: 2rem;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        border-radius: 7px;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
      }
    }
  }
}
