.FashionBanner {
  height: 800px;
  max-width: 1920px;
  margin: 70px auto;
  margin-bottom: 0%;
  display: grid;
  place-items: center;
}

.fashion_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  // width: 80vw;

  .fashion01_wrapper {
    background-image: url("../../homepage-images/fashion01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    display: grid;
    place-items: center;
    flex: 1;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .fashion01 {
    width: 80%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .fashion01_head {
      color: white;
      font-size: 1.9rem;
      font-family: "PT Sans";
      font-style: normal;
      font-weight: 800;
      line-height: 2.2rem;
      letter-spacing: 0.185px;
    }
    .fashion01_info {
      color: white;
      font-size: 1.4rem;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.889px;
    }
    .fashion01_button {
      width: 110px;
      align-items: center;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.3) 0 6px 20px;
      box-sizing: border-box;
      color: #3c4242;
      cursor: pointer;
      display: inline-flex;
      // flex: 1 1 auto;
      font-family: sans-serif;
      font-size: 0.9rem;
      font-weight: 600;
      justify-content: center;
      // line-height: 1;
      outline: none;
      padding: 0.5rem 2rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
      white-space: nowrap;
      border: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      @media screen and (max-width: 900px) {
        font-size: 1rem;
        line-height: 1.1rem;
        width: 6rem;
      }
    }

    .fashion01_button:hover {
      border: none;
      outline: none;
      box-shadow: 0 0 0 3px, transparent 0 0 0 0;
    }
  }

  .fashion02 {
    background-image: url("../../homepage-images/fashion02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
