.Banner {
  font-family: "PT Sans";
  color: white;
  height: 800px;
  background-image: url("../../images/wepik-export-20230628181733CGES.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @media screen and (max-width: 900px) {
    height: auto;
    // width: 100vw;
    aspect-ratio: 1/1;
    background-image: url("../../images/homepage-banner-01-square.png");
    background-size: cover;

}

  .banner-content-wrapper {
    position: absolute;
    left: 10%;
    width: 25%;
    height: 450px;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media screen and (max-width: 900px) {
        width: fit-content;
        height: fit-content;
        gap: 1rem;
        left: 5%;
    }
  }
}

.banner_heading > h5 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0.157px;
  @media screen and (max-width: 900px) {
    font-size: 1rem;
    line-height: 1.1rem;
}
}

.banner_content-1 > h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 5.8rem;
  letter-spacing: 0.315px;
  @media screen and (max-width: 900px) {
    font-size: 3rem;
    line-height: 3.2rem;
}
}
.banner_content-2 > h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.315px;
  @media screen and (max-width: 900px) {
    font-size: 1.1rem;
    line-height: 1.2rem;
}
}

.banner_button {
  width: 250px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #3c4242;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 1rem 4.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  @media screen and (max-width: 900px) {
    font-size: 1rem;
    line-height: 1.1rem;
    width: 6rem;
}
}

.banner_button:hover {
  border: none;
  outline: none;
  box-shadow: 0 0 0 3px, transparent 0 0 0 0;
}
